.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem;
}

.guildList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll {
  display: flex;
  flex-direction: column;
}

.selected {
  border: 1px red solid;
}
